.transactionHistory {
  border-collapse: collapse;
  width: 800px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}

tr:nth-child(2n) {
  background-color: #d3d3d3;
}

.title {
  padding: 15px 0;
  background-color: #00ffff;
  color: #fff;
  border: 1px solid #dcdcdc;
}

.box {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.item {
  border: 1px solid #dcdcdc;
  padding: 10px;
}
